@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Kategori ID")
    @Html.TextBoxFor(r => r.CategoryID, new { @class = "form-control" })
    @Html.ValidationMessageFor(r => r.CategoryID)
    <br />
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(r => r.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(r => r.CategoryName)
    <br /><br />
    @Html.Label("Açıklamayı Yazınız")
    @Html.TextAreaFor(r => r.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(r => r.CategoryDescription)
    <br /><br />
    <button class="btn btn-outline-info">Güncelle</button>


</div>
}

